<li class='post' title='{{ outline }}'>
  <a href='{{ url }}' title='{{title}}'>{{ title }}</a>
  <span class='introduction'>{{ introduction }}</span>
  <a href='{{ url }}' title='{{title}}' class='read-link'>阅读 &gt;&gt;</a>
</li>

