<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>
      {{# reader.post }}《{{ title }}》{{/ reader.post }}{{# reader.folder }} - {{ name }} {{/ reader.folder }} - {{ worker.site.name }}
    </title>
    <script type='text/javascript' src='/assets/javascripts/application.js'></script>
    <script type='text/javascript' src='/assets/javascripts/document_post.js'></script>
    <link href="/assets/stylesheets/application.css" media="all" rel="stylesheet" />
    <link href="/assets/stylesheets/document_post.css" media="all" rel="stylesheet" />
  </head>
<body>
{{> partials/shared/header }}
<div id='container' class='wrapper clearfix'>
  <div class='path'>
    <a href='/index.html'>首页</a>

    {{# reader.folders }}
    <span class='gap'>&gt;&gt;</span>
    <a href='{{ url }}' title='{{title}}'>{{ name }}</a>
    {{/ reader.folders }}
  </div>

  <div class='information'>
    <h1>{{ page.title }}</h1>

    <div class='bar'>
      {{# page.datetime }}
      时间: {{ page.datetime }}
      {{/ page.datetime }}

      {{# page.authors_any? }}
      <span class='bar-authors'>
        作者:
        {{# page.authors }}
        <a href='javascript:;'>{{ value }}</a>
        {{/ page.authors }}
      </span>
      {{/ page.authors_any? }}

      {{# page.categories_any? }}
      <span class='bar-categories'>
        分类:
        {{# page.categories }}
        <a href='javascript:;'>{{ value }}</a>
        {{/ page.categories }}
      </span>
      {{/ page.categories_any? }}
    </div>

    {{# page.tags_any? }}
    <div class='bar bar-tags'>
      {{# page.tags }}
      <a href='javascript:;' class='button'>{{ value }}</a>
      {{/ page.tags }}
    </div>
    {{/ page.tags_any? }}

    {{# page.outline }}
    <div class='outline'>
      纲要: {{ page.outline }}
    </div>
    {{/ page.outline }}

  </div>

  <div class='container-block clearfix'>
    <!-- container-main begin -->
    <div class='container-main clearfix'>

      {{# page.content_present? }}
      <div class='content'>
        <div class='content-inner content-workmark'>
          {{{ page.content }}}
        </div>
      </div>
      {{/ page.content_present? }}

    </div> <!-- container-main end -->

    <div class='container-side clearfix'>
      {{# page.catalogs_any? }}
      <h3>文档目录大纲</h3>
      <dl class='dl-catalogs'>
        {{# page.catalogs }}
        <dd class='catalog-link-{{ name }}'><a href='#{{anchor}}' title='{{ text }}'>{{ text }}</a></dd>
        {{/ page.catalogs }}
      </dl>
      {{/ page.catalogs_any? }}
    </div>
  </div>

</div>
{{> partials/shared/copyright }}
</body>
</html>
