<div id='header' class='clearfix'>
  <div class='nav wrapper'>
    <a href='/index.html'>首页</a>

    {{# reader.global.folders }}
    <a href='{{ url }}' title='{{title}}'>{{ name }}</a>
    {{/ reader.global.folders }}
  </div>
</div>

