
#container .information {
  text-align: center;
  color: #666;
}

#container .information .bar {
  padding: 5px;
}

#container .information .bar-tags {
}

#container .outline {
  background: none repeat scroll 0 0 #F5FCEE;
  border: 1px solid #DCDDDD;
  color: #706A6A;
  font-size: 13px;
  line-height: 24px;
  margin: 8px auto 0;
  padding: 8px 16px;
  text-align: left;
}

#container .container-block {
  background: none repeat scroll 0 0 #EEEEEE;
}

#container .content {
  margin: 0;
  border-radius: 3px 3px 3px 3px;
  padding: 3px;
}

#container .content .content-inner {
  background-color: #FFFFFF;
  border: 1px solid #CACACA;
  padding: 10px;
}

#container .content .content-inner > p {
  text-indent: 2em;
}

.content-workmark > *:first-child {
    margin-top: 0 !important;
}

.content-workmark h1, 
.content-workmark h2, 
.content-workmark h3, 
.content-workmark h4, 
.content-workmark h5, 
.content-workmark h6
{
    cursor: text;
    font-weight: bold;
    line-height: 1.7;
    margin: 1em 0 15px;
    padding: 0;
    position: relative;
}

.content-workmark h1 {
  border-bottom: 2px solid #DDDDDD;
  font-size: 2.5em;
}

.content-workmark h2 {
  border-bottom: 1px solid #EEEEEE;
  font-size: 1.6em;
  margin-left: 5px;
}

.content-workmark h3 {
  margin-left: 8px;
}

.content-workmark h4 {
  margin-left: 10px;
}

.content-workmark h5 {
  margin-left: 12px;
}

.content-workmark h6 {
  margin-left: 14px;
}

#container .container-main {
  float: left;
  line-height: 1.5;
  margin: 0 auto;
  padding: 5px;
  width: 795px;
}

#container .container-side {
  float: right;
  padding: 10px 8px 0 0;
  width: 210px;
}
